body {
    color: Black;
    background-color: seashell;
}

body > h1 {
    text-align: center;
}

#F-22 {
    padding: 100px 10% 0 10%;
    font-size: large;
}

#F-22 > img {
    float: right;
    margin-left: 50px;
    width:1000px;
    height:800px;
 }

#F-22 > h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    text-transform: uppercase;
    color: navy;
    border-bottom: 2px solid navy;
    padding-bottom: 10px;
}