body {
  color: black;
  background-color: seashell;
  height: auto;
  width: auto;
}

body > h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #333;
  padding: 20px;
  background-color: #f2f2f2;
  margin-top: 0;
}

div {
  padding: 100px 10% 5% 10%;
  font-size: large;
  font-style: georgia;
  height: auto;
}

.page {
  float: right;
  margin-left: 50px;
  width: 1000px;
  height: 800px;
}

#Flying {
  float: right;
  padding-right: 3%;
  width: 10%;
  height: 10%;
  position: relative;
}

#Drive {
  float: right;
  padding-right: 3%;
  width: 10%;
  height: 12%;
  position: relative;
}

.animated-flying {
  position: relative;
  animation-name: moveFlying;
  animation-duration: 4000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.animated-driving {
  position: relative;
  animation-name: moveDriving;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes moveFlying {
  0% {
      top: 0;
      left: 0;
  }

  29% {
      top: 0;
      left: 0;
      transform: translate(-200%, -10%) rotate(15deg);
      animation-timing-function: linear;
  }

  100% {
      top: 0;
      left: 0;
      transform: translate(-1000%, -500%) rotate(25deg);
      animation-timing-function: linear;
  }
}

@keyframes moveDriving {
  0% {
      top: 0;
      left: 0;
  }

  100% {
      top: 0;
      left: 0;
      transform: translate(-1000%);
  }
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 10px solid black;
  padding-bottom: 10px;
}

#F-22 > h2 {
  color: navy;
}

#F40 > h2 {
  color: #ff2800;
}

#BlackBird > h2 {
  color: black;
}

#Ford-GT > h2 {
  color: #b5c9d6;
}